
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.body {
    background-color: rgb(34, 102, 161);
}


.informations {
    color:#fff;
    text-decoration-line: underline;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
    margin:20px;
}

.daten {
    color:#fff;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: bold;
    margin:20px;
}

.sprachen {
    color:#fff;
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-style: italic;
    text-decoration-line: underline;
    margin:20px;
}

.left {
    height:950px;
    width:600px; 
    background-color: #b17070;
    border-radius: 16px;
    position: absolute;
    border:2px solid black;
}

.info {
    color:#fff;
    display:flex;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    margin:24px;
}

.image {
    position:absolute;
    left:240px;
    bottom:515px;
    clip-path: circle(35% at 50% 50%);
    background-color: #a15252;
}


.sprache {
    font-size: 1.3rem;
    padding:12px;
    color:#fff;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
    margin:10px;
}

.right {
    background-color: #f58080;;
    height:580px;
    width:550px;
    position:absolute;
    bottom:5px;
    left:350px;
    border-radius: 10px;
    border: 4px solid rgb(71, 54, 87);
}

.letter {
    color:#fff;
    padding:12px;
    margin:6px;
    font-size: 1.3rem;
}
